.combo-box {
    -fx-text-base-color: -fx-color-black;
    -fx-hover-base: -fx-color-primary;
    -fx-focus-color: -fx-color-white;
    -fx-outer-border: -fx-color-white;
    -fx-inner-border: -fx-color-white;
    -fx-body-color: -fx-color-white;
    -fx-text-inner-color: -fx-color-primary;
    -fx-selection-bar: -fx-color-primary;
    -fx-cursor: hand;
}

.combo-box .list-cell {
    -fx-background: -fx-color-white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 5;
    -fx-background-insets: 0, 0;
    -fx-cursor: hand;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: -fx-color-white;
}

.combo-box .combo-box-popup .list-view {
    -fx-background-color: white, white;
    -fx-background-insets: 0, 0;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-padding: 5;
    -fx-background-color: -fx-color-white;
    -fx-background-insets: 0, 0;
}

.combo-box .combo-box-popup .list-view .list-cell:filled:selected,
.combo-box .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box .combo-box-popup .list-view .list-cell:filled:hover {
    /*-fx-background-color: -fx-color-primary;*/
    -fx-text-fill: -fx-text-inner-color;
}